[submodule "deps/optparse"]
	path = deps/optparse
	url = https://github.com/annacrombie/optparse
[submodule "deps/wcache"]
	path = deps/wcache
	url = https://github.com/annacrombie/wcache
[submodule "deps/zsh-util"]
	path = deps/zsh-util
	url = https://github.com/annacrombie/zsh-util
